<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MyCorpSolutions</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)


    <script>
        (function () {
            var endpoints = {};
            endpoints.customerServiceEndpoint = '@ViewBag.Settings["CustomerServiceEndpoint"]';
            endpoints.customerUrl = '@ViewBag.Settings["CustomerUrl"]';
            endpoints.orderUrl = '@ViewBag.Settings["OrderUrl"]';

            var model = new mainViewModel(endpoints);
            ko.applyBindings(model);
        })();
    </script>
</body>
</html>
